@import '@styles/base.scss';

.Section2 {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-section-2);
  @include directionY;

  .AdvancedWrapper {
    width: 100%;
    height: 40vh;
    @include directionY;
    justify-content: center;
    align-items: center;

    .Advanced {
      font-size: 1.8rem;
      font-weight: 600;
    }

    .Track {
      font-size: 0.8rem;
      text-align: center;
    }
  }

  .DetailedWrapper {
    width: 100%;
    height: 100vh;
    @include directionX;
    justify-content: center;
    gap: 2rem;

    hr {
      position: absolute;
      width: 40%;
      height: 0.2rem;
      background-color: $color-cyan;
      border: none;
      margin-top: 8rem;
      z-index: 0;
    }

    .DetailedBox1 {
      width: 15rem;
      height: 10rem;
      background-color: var(--color-detailed-box);
      z-index: 1;
      border-radius: 4px;
      padding: 4rem 1.2rem 0rem 1.2rem;
      @include directionY;
      justify-content: start;
      position: relative;

      .Icon {
        background-color: var(--color-icon);
        background-image: url(../../../static/images/icon-brand-recognition.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 2.5rem;
        position: absolute;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        top: -2.5rem;
      }

      .DetailedTitle {
        font-size: 1.2rem;
        font-weight: 700;
        color: #001a41;
      }
      .DetailedDesc {
        font-size: 0.85rem;
      }
    }

    .DetailedBox2 {
      width: 15rem;
      height: 10rem;
      background-color: var(--color-detailed-box);
      z-index: 1;
      border-radius: 4px;
      padding: 4rem 1.2rem 0rem 1.2rem;
      @include directionY;
      justify-content: start;
      position: relative;
      margin-top: 3rem;
      .Icon {
        background-color: var(--color-icon);
        background-image: url(../../../static/images/icon-detailed-records.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 2.5rem;
        position: absolute;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        top: -2.5rem;
      }

      .DetailedTitle {
        font-size: 1.2rem;
        font-weight: 700;
        color: #001a41;
      }
      .DetailedDesc {
        font-size: 0.85rem;
      }
    }

    .DetailedBox3 {
      width: 15rem;
      height: 10rem;
      background-color: var(--color-detailed-box);
      z-index: 1;
      border-radius: 4px;
      padding: 4rem 1.2rem 0rem 1.2rem;
      @include directionY;
      justify-content: start;
      position: relative;
      margin-top: 6rem;
      .Icon {
        background-color: var(--color-icon);
        background-image: url(../../../static/images/icon-fully-customizable.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 2.5rem;
        position: absolute;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        top: -2.5rem;
      }

      .DetailedTitle {
        font-size: 1.2rem;
        font-weight: 700;
        color: #001a41;
      }
      .DetailedDesc {
        font-size: 0.85rem;
      }
    }
  }
}
