@import '@styles/base.scss';

.UrlWrapper {
  height: 90vh;
  display: flex;
  background-color: var(--color-bg);
  // white-space: nowrap;
  // overflow: hidden;
}

.ContainerLeft {
  //   background-color: var(--color-bg);
  width: 55%;
  height: 100%;
  display: flex;
  //   align-items: center;
  justify-content: center;

  .TextMore {
    margin-top: 8rem;
    font-size: 4rem;
    font-weight: 700;
  }

  .SubTitle {
    height: 5rem;
    width: 100%;
  }

  .GetStarted {
    background-color: $color-cyan;
    border: none;
    width: 7rem;
    padding: 0.9rem;
    border-radius: 1rem;
    color: $color-white;
    font-weight: 700;
    font-size: 0.8rem;
    cursor: pointer;
  }
  .GetStarted:hover {
    background-color: #a2cdb0;
  }
  .GetStarted:active {
    position: relative;
    top: 1px;
  }
}

.ContainerRight {
  // background-color: aqua;
  width: 45%;
  height: 100%;
  display: flex;
  align-items: start;
}

.ContainerRight img {
  padding-top: 5rem;
  max-width: 100%;
  height: auto;
}

.ShorteningWrapper {
  position: absolute;
  width: 100%;
  height: 150px;
  bottom: -3.5rem;
  @include directionX;
  align-items: end;
}

// advanced statistic section

.Section2 {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-section-2);
  @include directionY;

  .AdvancedWrapper {
    width: 100%;
    height: 40vh;
    @include directionY;
    justify-content: center;
    align-items: center;

    .Advanced {
      font-size: 1.8rem;
      font-weight: 600;
    }

    .Track {
      font-size: 0.8rem;
      text-align: center;
    }
  }

  .DetailedWrapper {
    width: 100%;
    height: 100vh;
    @include directionX;
    justify-content: center;
    gap: 2rem;

    hr {
      position: absolute;
      width: 40%;
      height: 0.2rem;
      background-color: $color-cyan;
      border: none;
      margin-top: 8rem;
      z-index: 0;
    }

    .DetailedBox1 {
      width: 15rem;
      height: 10rem;
      background-color: var(--color-detailed-box);
      z-index: 1;
      border-radius: 4px;
      padding: 4rem 1.2rem 0rem 1.2rem;
      @include directionY;
      justify-content: start;
      position: relative;

      .Icon {
        background-color: var(--color-icon);
        background-image: url(../../static//images/icon-brand-recognition.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 2.5rem;
        position: absolute;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        top: -2.5rem;
      }

      .DetailedTitle {
        font-size: 1.2rem;
        font-weight: 700;
        color: #001a41;
      }
      .DetailedDesc {
        font-size: 0.85rem;
      }
    }

    .DetailedBox2 {
      width: 15rem;
      height: 10rem;
      background-color: var(--color-detailed-box);
      z-index: 1;
      border-radius: 4px;
      padding: 4rem 1.2rem 0rem 1.2rem;
      @include directionY;
      justify-content: start;
      position: relative;
      margin-top: 3rem;
      .Icon {
        background-color: var(--color-icon);
        background-image: url(../../static//images/icon-detailed-records.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 2.5rem;
        position: absolute;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        top: -2.5rem;
      }

      .DetailedTitle {
        font-size: 1.2rem;
        font-weight: 700;
        color: #001a41;
      }
      .DetailedDesc {
        font-size: 0.85rem;
      }
    }

    .DetailedBox3 {
      width: 15rem;
      height: 10rem;
      background-color: var(--color-detailed-box);
      z-index: 1;
      border-radius: 4px;
      padding: 4rem 1.2rem 0rem 1.2rem;
      @include directionY;
      justify-content: start;
      position: relative;
      margin-top: 6rem;
      .Icon {
        background-color: var(--color-icon);
        background-image: url(../../static//images/icon-fully-customizable.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 2.5rem;
        position: absolute;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        top: -2.5rem;
      }

      .DetailedTitle {
        font-size: 1.2rem;
        font-weight: 700;
        color: #001a41;
      }
      .DetailedDesc {
        font-size: 0.85rem;
      }
    }
  }
}

.Section3 {
  width: 100%;
  height: 15rem;
  background-image: url(../../static/images/bg-boost-desktop.svg);
  background-color: var(--color-inputProps);
  background-repeat: no-repeat;
  background-size: cover;
  @include directionY;

  .BoostWrapper {
    width: 100%;
    height: 60%;
    @include directionY;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .Boost {
    text-align: center;
    width: 40rem;
    height: 4rem;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 700;
    position: absolute;
    bottom: 0;
  }

  .GetStartedWrapper {
    width: 100%;
    height: 40%;
    @include directionX;
    justify-content: center;
  }

  .GetStarted {
    background-color: $color-cyan;
    border: none;
    width: 8rem;
    height: 2.5rem;
    padding: 0.9rem;
    border-radius: 2rem;
    color: $color-white;
    font-weight: 700;
    font-size: 0.8rem;
    cursor: pointer;
  }
  .GetStarted:hover {
    background-color: #79dad2;
  }
  .GetStarted:active {
    position: relative;
    top: 1px;
  }
}

.Section4 {
  width: 100%;
  height: 10rem;
  background-color: black;
}
