@mixin light-theme {
  --color-bg: #fff;
  --color-bg-2: #e8eef1;
  --color-text: #001a41;
  --color-gray: hsl(0, 0%, 75%);
  --color-grayish-violet: hsl(257, 7%, 63%);
  --color-input-props: #c0c0c0;
  --color-font: #ffffff;
  --color-inputProps: #331d2c;
  --color-section-2: $color-gray;
  --color-detailed-box: #efe1d1;
  --color-icon: #331d2c;
  --color-footer: hsl(257, 7%, 63%);
  --color-button-cyan: hsl(180, 66%, 49%);
}

@mixin dark-theme {
  --color-bg: #4f4557;
  --color-bg-2: $color-grayish-violet;
  --color-text: $color-very-dark-violet;
  --color-text: #fff;
  --color-input-props: #7c7c7c;
  --color-font: #001a41;
  --color-inputProps: hsl(0, 0%, 75%);
  --color-section-2: #494050;
  --color-detailed-box: #a78295;
  --color-icon: #886c7a;
  --color-footer: #4f4557;
  --color-button-cyan: hsl(180, 66%, 49%);
}
