@import '@styles/base.scss';

.UrlWrapper {
  height: 90vh;
  display: flex;
  background-color: var(--color-bg);

  // @include apply-at-xs-size {
  //   flex-direction: column-reverse;
  //   align-items: center;
  // }

  .ContainerLeft {
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: center;

    // @include apply-at-xs-size {
    //   width: 100%;
    // }

    .TextMore {
      margin-top: 8rem;
      font-size: 4rem;
      font-weight: 700;
    }

    .SubTitle {
      height: 5rem;
      width: 100%;
    }

    .GetStarted {
      background-color: $color-cyan;
      border: none;
      width: 7rem;
      padding: 0.9rem;
      border-radius: 1rem;
      color: $color-white;
      font-weight: 700;
      font-size: 0.8rem;
      cursor: pointer;
    }
    .GetStarted:hover {
      background-color: #a2cdb0;
    }
    .GetStarted:active {
      position: relative;
      top: 1px;
    }
  }

  .ContainerRight {
    // background-color: aqua;
    width: 45%;
    height: 100%;
    display: flex;
    align-items: start;
  }

  .ContainerRight img {
    padding-top: 5rem;
    max-width: 100%;
    height: auto;
  }
}

.ShorteningWrapper {
  position: absolute;
  width: 100%;
  height: 150px;
  bottom: -3.5rem;
  @include directionX;
  align-items: end;
}

@media screen and (max-width: 600px) {
  .UrlWrapper {
    width: 55rem;
    flex-direction: column-reverse;
    align-items: center;
  }

  .ContainerRight {
    // background-color: aqua;
    width: 20rem;
    height: 10rem;
  }

  .ContainerLeft {
    // background-color: bisque;
    display: flex;
    align-items: center;
    justify-items: center;
  }
}
