@import '../../styles/base.scss';

.ShorteningInput {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.ShorteningBox {
  width: 60rem;
  height: 6rem;
  @include directionX;
  justify-content: center;
  align-items: center;
  background-image: url('@static/images/bg-boost-desktop.svg');
  background-size: cover;
  background-color: var(--color-inputProps);
  border-radius: 12px;
  gap: 1rem;
}

.ShorteningButton {
  background-color: $color-cyan;
  border: none;
  width: 7rem;
  padding: 1.1rem 1rem;
  border-radius: 1rem;
  color: $color-white;
  font-weight: 700;
  font-size: 0.8rem;
  cursor: pointer;
}
.ShorteningButton:hover {
  background-color: #a2cdb0;
}
.ShorteningButton:active {
  position: relative;
  top: 1px;
}

// -----------------------------------

.shortenedWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 24px;

  .loadBox {
    display: flex;
    width: 60rem;
    justify-content: center;
    align-items: center;
  }

  .row {
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    color: var(--color-text);
    background-color: var(--color-input-props);
    border-radius: 8px;
    width: 60rem;

    @include apply-at-xs-size {
      flex-direction: column;
      align-items: center;
      gap: 12px;
    }

    @include apply-at-lg-size {
      flex-direction: row;
      align-items: center;
      gap: 24px;
    }

    .link {
      font-weight: 500;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 100%;
      transition: all 150ms ease-in-out;

      @include apply-at-xs-size {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        padding-bottom: 12px;
        text-align: center;
      }

      @include apply-at-lg-size {
        padding-bottom: 0;
        border: none;
        text-align: start;
      }
    }

    .left {
      display: flex;
      align-items: center;
      justify-content: center;

      @include apply-at-xs-size {
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 12px;
      }

      @include apply-at-lg-size {
        align-items: center;
        flex-direction: row;
        justify-content: center;
        gap: 24px;
      }

      .btnGroup {
        display: flex;
        gap: 16px;

        .button {
          padding: 10px 16px;
          font-size: 16px;
          font-weight: 700;
          background-color: $color-cyan;
          color: #fff;
          border: none;
          border-radius: 8px;
          width: 100%;

          &:hover {
            opacity: 0.6;
          }
        }

        .closeBtn {
          padding: 10px 16px;
          font-size: 16px;
          font-weight: 700;
          background-color: hsl(0, 66%, 49%);
          color: white;
          border: none;
          border-radius: 8px;
          width: 100%;

          * {
            font-size: 36px;
          }
        }

        .active {
          background-color: $color-dark-blue;
        }
      }

      .shortLink {
        color: $color-cyan;
        font-weight: 500;
        text-decoration: none;

        &:hover {
          opacity: 0.5;
        }

        &:active {
          opacity: 0.8;
        }
      }
    }
  }
}
