@import '@styles/base.scss';

.Section3 {
  width: 100%;
  height: 10rem;
  background-image: url(../../../static/images/bg-boost-desktop.svg);
  background-color: var(--color-inputProps);
  background-repeat: no-repeat;
  background-size: cover;
  @include directionY;

  .BoostWrapper {
    width: 100%;
    height: 60%;
    @include directionY;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .Boost {
    text-align: center;
    width: 40rem;
    height: 4rem;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 700;
    position: absolute;
    bottom: 0;
  }

  .GetStartedWrapper {
    width: 100%;
    height: 40%;
    @include directionX;
    justify-content: center;
  }

  .GetStarted {
    background-color: $color-cyan;
    border: none;
    width: 8rem;
    height: 2.5rem;
    padding: 0.9rem;
    border-radius: 2rem;
    color: $color-white;
    font-weight: 700;
    font-size: 0.8rem;
    cursor: pointer;
  }
  .GetStarted:hover {
    background-color: #79dad2;
  }
  .GetStarted:active {
    position: relative;
    top: 1px;
  }
}

.Footer {
  width: 100%;
  height: 10rem;
  background-color: var(--color-footer);
  @include directionX;
  padding: 3rem 5rem;

  .Logo {
    width: 20rem;
    height: 10rem;

    .Shortly {
      font-size: 1.6rem;
      font-weight: 600;
    }
  }
  .Features {
    width: 14rem;
    height: 10rem;

    .FeaTitle {
      font-weight: 600;
    }
    .Content {
      font-size: 0.8rem;
      padding: 0.2rem 0;
    }
  }
  .Resources {
    width: 14rem;
    height: 10rem;

    .ResTitle {
      font-weight: 600;
    }

    .Content {
      font-size: 0.8rem;
      padding: 0.2rem 0;
    }
  }
  .Company {
    width: 14rem;
    height: 10rem;

    .CompTitle {
      font-weight: 600;
    }
    .Content {
      font-size: 0.8rem;
      padding: 0.2rem 0;
    }
  }

  .Socials {
    width: 15rem;
    @include directionY;
    justify-content: center;
    align-items: center;

    .SocialsWrapper {
      width: 100%;
      @include directionX;
      justify-content: center;
      gap: 1rem;
    }

    .facebookIcon,
    .twitterIcon,
    .pinterestIcon,
    .instagramIcon {
      fill: red;
      transition:
        filter 0.2s,
        box-shadow 0.2s;
      box-shadow: none;
    }

    .facebookIcon:hover {
      filter: none;
      box-shadow: 0 0 50px rgb(59, 88, 152);
    }

    .twitterIcon:hover {
      filter: none;
      box-shadow: 0 0 50px rgb(29, 160, 242);
    }

    .pinterestIcon:hover {
      filter: none;
    }

    .instagramIcon:hover {
      filter: none;
      box-shadow: 0 0 50px rgba(225, 48, 108, 0.7);
    }
  }
}
