@import '@styles/base.scss';

.headerWrapper {
  background-color: var(--color-bg) !important;
  box-shadow: 0 0.25rem 0.75rem rgba(25, 49, 83, 0.2) !important;

  .contentWrapper {
    @include directionX;

    color: var(--color-text);
    padding: 1rem;
    align-items: center;
    // justify-content: space-between;
    font-size: 1rem;

    .LogoMenuWrapper {
      @include directionX;
      width: 30rem;
      justify-content: space-between;
      padding-left: 4rem;

      .Logo {
        width: 10rem;
        font-size: 1.5rem;
        font-weight: 600;
        letter-spacing: 2px;
        // background-color: rgb(197, 127, 255);
      }

      .Menu {
        width: 25rem;
        @include directionX;
        gap: 2rem;
        cursor: pointer;
        // background-color: aqua;
        justify-content: end;
      }
    }

    .LoginWrapper {
      @include directionX;
      gap: 2rem;
      justify-content: end;
      padding-right: 4rem;
      width: 40rem;
      //   background-color: rgb(229, 255, 0);

      .SignUpBox {
        width: 7rem;
        height: 2rem;
        @include directionX;
        align-items: center;
        justify-content: center;
        background-color: $color-cyan;
        border-radius: 1rem;
      }

      .LoginBox {
        width: 5rem;
        height: 2rem;
        @include directionX;
        align-items: center;
        justify-content: center;
      }
    }

    .logoImage {
      @include directionX;
      cursor: pointer;
      align-items: center;

      .logo {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0.5rem;
      }
      .title {
        font-weight: 700;
      }
    }

    .toolbar {
      @include directionX;
      .theme {
        @include directionX;
        align-items: center;
        margin-right: 0.5rem;
        cursor: pointer;
      }
      .toggle {
        @include directionX;
        align-items: center;
        cursor: pointer;

        .avatar {
          width: 1.2rem;
          height: 1.2rem;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          margin-right: 0.5rem;
        }

        .lang {
          font-family: Poppins, Arial, Helvetica, sans-serif;
          font-weight: 700;
          font-size: 1rem;
          text-transform: uppercase;
        }

        .arrow {
          font-size: 1rem;
        }
      }
    }
  }
}

.menu {
  @include directionX;
  align-items: center;

  .menuAvatar {
    width: 1rem;
    height: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-right: 0.5rem;
  }

  .menuLang {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
  }
}

// .NavWrapper {
//   width: 100%;
//   height: 4rem;
//   //   background-color: hsl(0, 0%, 75%);
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   box-sizing: border-box;

//   .LogoMenuWrapper {
//     display: flex;
//     justify-content: space-between;
//     width: 30rem;
//     padding-left: 5rem;

//     .Logo {
//       font-size: 1.4rem;
//       font-weight: 700;
//     }

//     .Menu {
//       display: flex;
//       gap: 2rem;
//     }
//   }

//   .LoginWrapper {
//     display: flex;
//     gap: 2rem;
//     padding-right: 5rem;

//     .SignUp {
//       width: 7rem;
//       height: 2rem;
//       background-color: $color-cyan;
//       text-align: center;
//       color: $color-white;
//       padding: 0rem 0.5rem;
//       border-radius: 16px;
//     }
//   }
// }
